@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap');

@font-face { font-family: 'D2Coding'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff'); font-weight: normal; font-style: normal; }

html, body, #root, #root>div {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
}

textarea {
  outline: none;
}

#ace-editor {
  z-index: -10;
}
